html{
  background-color:aquamarine;
}

body{
  margin: 0;
}

header{
  background-color:aqua;
}

table{
  margin: 50px auto;
  width:px;
}

table th td{
  text-align:center;
  margin: 10px;
}

p{
 text-align:center; 
}
