html{
  background-color:#CCFFFF;
}

body{
  margin: 0;
}

header{
  background-color:	#66CCCC;
  font-size: 30px;
  font-weight: 800;
}

table{
  margin: 50px auto;
  padding: 15px;
}

td,th{
  text-align:center;
  padding: 10px
}

img{
  width: auto;
   max-height: 70px;
}

p{
 text-align:center; 
}
